@use "../../foundation/color" as color;
@use "../../foundation/font" as font;

.c-title {
    padding-left: 4px;
    color: color.$c-primary;
    font-size: 14px;
    border-left: 4px solid color.$c-primary;
}

.c-title-eng {
    text-align: center;
    &__main {
        font-family: font.$time-new-roman;
        font-size: 34px;
    }
    &__sub {
        font-family: font.$map-roman;
        font-size: 12px;
    }
}
