@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #323232;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input {
  margin: 0;
  padding: 0;
}

textarea {
  padding: 0;
  font: inherit;
  color: inherit;
}

button {
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.l-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.l-header__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 375px) {
  .l-header__inner {
    width: 363px;
  }
}
@media (min-width: 1100px) {
  .l-header__inner {
    width: 1073px;
  }
}
@media (min-width: 375px) {
  .l-header__inner {
    height: 63px;
  }
}
@media (min-width: 1100px) {
  .l-header__inner {
    height: 113px;
  }
}
.l-header__inner__logo {
  position: absolute;
  bottom: 0;
}
.l-header__inner__logo__link {
  display: block;
}
@media (min-width: 375px) {
  .l-header__inner__logo__link__img {
    width: 160px;
  }
}
@media (min-width: 1100px) {
  .l-header__inner__logo__link__img {
    width: 297px;
  }
}
@media (min-width: 375px) {
  .l-header__inner__logo__link__img {
    height: 48px;
  }
}
@media (min-width: 1100px) {
  .l-header__inner__logo__link__img {
    height: 89px;
  }
}
.l-header__inner__menu {
  position: absolute;
}
@media (min-width: 375px) {
  .l-header__inner__menu {
    right: max(50% - 300px, 50% - 50vw);
  }
}
@media (min-width: 1100px) {
  .l-header__inner__menu {
    right: -13px;
  }
}
.l-header__inner__menu__btn {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 110;
}
.l-header__inner__menu__btn span {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 21px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.l-header__inner__menu__btn span:nth-of-type(1) {
  top: 22.5px;
}
.l-header__inner__menu__btn span:nth-of-type(2) {
  top: 30px;
}
.l-header__inner__menu__btn span:nth-of-type(3) {
  top: 37px;
}
.l-header__drawer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.4);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
@media (min-width: 375px) {
  .l-header__drawer {
    right: max(50% - 300px, 50% - 50vw);
  }
}
@media (min-width: 1100px) {
  .l-header__drawer {
    right: calc(50% - 550px);
  }
}
@media (min-width: 375px) {
  .l-header__drawer {
    width: min(100%, 600px);
  }
}
@media (min-width: 1100px) {
  .l-header__drawer {
    width: 236px;
  }
}
@media (min-width: 375px) {
  .l-header__drawer {
    height: 600px;
  }
}
@media (min-width: 1100px) {
  .l-header__drawer {
    height: 426px;
  }
}
.l-header__drawer__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.l-header__drawer__inner__btnWrapper {
  position: absolute;
  top: 0;
  right: 0;
}
.l-header__drawer__inner__btnWrapper__closeBtn {
  width: 60px;
  height: 60px;
  background-color: rgba(50, 50, 50, 0.5);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.l-header__drawer__inner__btnWrapper__closeBtn::before, .l-header__drawer__inner__btnWrapper__closeBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 2px;
  background: #fff;
}
.l-header__drawer__inner__btnWrapper__closeBtn::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.l-header__drawer__inner__btnWrapper__closeBtn::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.l-header__drawer__inner__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.l-header__drawer__inner__menu__list__item {
  text-align: center;
}
@media (min-width: 375px) {
  .l-header__drawer__inner__menu__list__item {
    margin-bottom: 44px;
  }
}
@media (min-width: 1100px) {
  .l-header__drawer__inner__menu__list__item {
    margin-bottom: 35px;
  }
}
.l-header__drawer__inner__menu__list__item a {
  color: #ffffff;
  font-weight: bold;
}
@media (min-width: 375px) {
  .l-header__drawer__inner__menu__list__item a {
    font-size: 24px;
  }
}
@media (min-width: 1100px) {
  .l-header__drawer__inner__menu__list__item a {
    font-size: 18px;
  }
}

.l-footer {
  width: 100%;
  height: 50px;
  background-color: #323232;
}
.l-footer__inner {
  width: 100%;
  height: 100%;
  text-align: center;
}
.l-footer__inner__copyright {
  color: #ffffff;
  font-size: 10px;
  line-height: 50px;
}

.l-main__inner {
  margin: 0 auto;
}
@media (min-width: 375px) {
  .l-main__inner {
    width: 343px;
  }
}
@media (min-width: 1100px) {
  .l-main__inner {
    width: 730px;
  }
}

.c-button {
  display: inline-block;
  padding-top: 9.4px;
  padding-bottom: 8.5px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  background-color: #5dc1cf;
}
.c-button--full-width {
  display: block;
  width: 100%;
}
.c-button--large {
  padding-top: 15.4px;
  padding-bottom: 12.6px;
}

.c-link {
  color: #5dc1cf;
  font-size: 14px;
}

.c-title {
  padding-left: 4px;
  color: #323232;
  font-size: 14px;
  border-left: 4px solid #323232;
}

.c-title-eng {
  text-align: center;
}
.c-title-eng__main {
  font-family: "Times New Roman", Times, serif;
  font-size: 34px;
}
.c-title-eng__sub {
  font-family: "map-roman-normal", serif;
  font-size: 12px;
}

.p-index-hero {
  position: relative;
  height: 600px;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  overflow: hidden;
}
.p-index-hero__inner {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 100%;
  background-size: 100%;
}
@media (min-width: 375px) {
  .p-index-hero__inner {
    width: 600px;
  }
}
@media (min-width: 1100px) {
  .p-index-hero__inner {
    width: 1100px;
  }
}
@media (min-width: 375px) {
  .p-index-hero__inner {
    background-image: url("../images/main-sp.jpg");
  }
}
@media (min-width: 1100px) {
  .p-index-hero__inner {
    background-image: url("../images/main.jpg");
  }
}
@media (min-width: 375px) {
  .p-index-hero__inner {
    background-position: center;
  }
}
@media (min-width: 1100px) {
  .p-index-hero__inner {
    background-position: top;
  }
}

@media (min-width: 375px) {
  .p-index-contact {
    margin-top: 40px;
  }
}
@media (min-width: 1100px) {
  .p-index-contact {
    margin-top: 50px;
  }
}
.p-index-contact__inner__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
  color: #323232;
}
.p-index-contact__inner__title__sub {
  font-size: 12px;
}
.p-index-contact__inner__title__sub__icon {
  margin-right: 4px;
  vertical-align: middle;
}
.p-index-contact__inner__timeTable {
  width: 100%;
  text-align: center;
}
@media (min-width: 375px) {
  .p-index-contact__inner__timeTable {
    margin-top: 13px;
  }
}
@media (min-width: 1100px) {
  .p-index-contact__inner__timeTable {
    margin-top: 13.8px;
  }
}
.p-index-contact__inner__timeTable th,
.p-index-contact__inner__timeTable td {
  height: 39px;
  font-size: 12px;
  vertical-align: middle;
  border: solid 1px #c3c3c3;
}

@media (min-width: 375px) {
  .p-index-hairstyle {
    margin-top: 20px;
  }
}
@media (min-width: 1100px) {
  .p-index-hairstyle {
    margin-top: 48px;
  }
}
.p-index-hairstyle__inner {
  width: 100%;
}
.p-index-hairstyle__inner__img {
  margin-top: 19px;
}
@media (min-width: 375px) {
  .p-index-hairstyle__inner__img {
    height: 250px;
  }
}
@media (min-width: 1100px) {
  .p-index-hairstyle__inner__img {
    height: 486px;
  }
}
@media (min-width: 375px) {
  .p-index-hairstyle__inner__img {
    margin-right: calc(50% - 50vw);
  }
}
@media (min-width: 1100px) {
  .p-index-hairstyle__inner__img {
    margin-right: 0;
  }
}
@media (min-width: 375px) {
  .p-index-hairstyle__inner__img {
    margin-left: calc(50% - 50vw);
  }
}
@media (min-width: 1100px) {
  .p-index-hairstyle__inner__img {
    margin-left: 0;
  }
}
.p-index-hairstyle__inner__btnWrapper {
  margin-top: 16px;
}
.p-index-hairstyle__inner__btnWrapper__btn {
  display: block;
  margin: 0 auto;
  padding: 17px 0;
  font-size: 14px;
  text-align: center;
  border: solid 2px #5dc1cf;
}
@media (min-width: 375px) {
  .p-index-hairstyle__inner__btnWrapper__btn {
    width: 100%;
  }
}
@media (min-width: 1100px) {
  .p-index-hairstyle__inner__btnWrapper__btn {
    width: 343px;
  }
}
.p-index-hairstyle__inner__btnWrapper__btn__icon {
  font-size: 23px;
  vertical-align: middle;
}

@media (min-width: 375px) {
  .p-index-news {
    margin-top: 22px;
  }
}
@media (min-width: 1100px) {
  .p-index-news {
    margin-top: 50px;
  }
}
.p-index-news__inner__newsContents__newsList__item {
  position: relative;
  margin-top: 21px;
  padding: 19px 0;
  border-bottom: 1px solid #eeeeee;
}
.p-index-news__inner__newsContents__newsList__item__time {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}
.p-index-news__inner__newsContents__newsList__item__text {
  font-size: 13.78px;
}
.p-index-news__inner__newsContents__linkWrapper {
  margin-top: 19px;
  text-align: right;
}

.p-index-coupon {
  position: relative;
}
@media (min-width: 375px) {
  .p-index-coupon {
    height: 530px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon {
    height: 338px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon {
    margin-top: 21px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon {
    margin-top: 49px;
  }
}
.p-index-coupon::after {
  display: block;
  content: "";
  top: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100vw;
  height: 100%;
  background-color: #f0f0f0;
  z-index: -1;
}
.p-index-coupon__inner {
  height: 100%;
}
.p-index-coupon__inner__text {
  position: relative;
  text-align: center;
  font-size: 16px;
}
@media (min-width: 375px) {
  .p-index-coupon__inner__text {
    margin-top: 18px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__text {
    margin-top: 34px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents {
    margin-top: 17px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents {
    margin-top: 28px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.p-index-coupon__inner__couponContents__couponList__item {
  position: relative;
  border-radius: 10px;
  background-color: white;
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    width: 100%;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    width: 209px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    height: 176px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    min-height: 122px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    padding-top: 13px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    padding-top: 13px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    padding-bottom: 13px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    padding-bottom: 13px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    padding-left: 10px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    padding-left: 12px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    padding-right: 10px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item {
    padding-right: 12px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.p-index-coupon__inner__couponContents__couponList__item__sub {
  font-size: 12px;
}
.p-index-coupon__inner__couponContents__couponList__item__main {
  margin-top: 7px;
  font-size: 14px;
  line-height: 20px;
}
.p-index-coupon__inner__couponContents__couponList__item__price {
  font-size: 14px;
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item__price {
    margin-top: 12px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item__price {
    margin-bottom: 43px;
  }
}
.p-index-coupon__inner__couponContents__couponList__item__btnWrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 14px;
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item__btnWrapper {
    bottom: 12px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item__btnWrapper {
    bottom: 13px;
  }
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__couponList__item__btnWrapper {
    width: 198px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__couponList__item__btnWrapper {
    width: 155px;
  }
}
.p-index-coupon__inner__couponContents__linkWrapper {
  margin-top: 35px;
  text-align: right;
}
@media (min-width: 375px) {
  .p-index-coupon__inner__couponContents__linkWrapper a:not(:last-child) {
    margin-right: 18px;
  }
}
@media (min-width: 1100px) {
  .p-index-coupon__inner__couponContents__linkWrapper a:not(:last-child) {
    margin-right: 22px;
  }
}

@media (min-width: 375px) {
  .p-index-voice {
    margin-top: 40px;
  }
}
@media (min-width: 1100px) {
  .p-index-voice {
    margin-top: 60px;
  }
}
@media (min-width: 1100px) {
  .p-index-voice__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1100px) {
  .p-index-voice__inner {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 375px) {
  .p-index-voice__inner__img:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 1100px) {
  .p-index-voice__inner__img:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 375px) {
  .p-index-staff {
    margin-top: 20px;
  }
}
@media (min-width: 1100px) {
  .p-index-staff {
    margin-top: 60px;
  }
}
.p-index-staff__inner {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 375px) {
  .p-index-staff__inner {
    width: 100%;
  }
}
@media (min-width: 1100px) {
  .p-index-staff__inner {
    width: 344px;
  }
}
.p-index-staff__inner__staffList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 118.14px;
  margin-top: 15px;
}
.p-index-staff__inner__staffList__item {
  text-align: center;
}
.p-index-staff__inner__staffList__item__postText {
  margin-top: 9.1px;
  font-size: 10px;
}
.p-index-staff__inner__staffList__item__nameText {
  margin-top: 5px;
  font-size: 10px;
}
@media (min-width: 375px) {
  .p-index-staff__inner__btnWrapper {
    margin-top: 13px;
  }
}
@media (min-width: 1100px) {
  .p-index-staff__inner__btnWrapper {
    margin-top: 20px;
  }
}
.p-index-staff__inner__btnWrapper__btn {
  display: block;
  width: 100%;
  padding-top: 11.7px;
  padding-bottom: 9.3px;
  text-align: center;
  border: #323232 solid 1px;
  font-size: 14px;
  border-radius: 5px;
}

@media (min-width: 375px) {
  .p-index-access {
    margin-top: 20px;
  }
}
@media (min-width: 1100px) {
  .p-index-access {
    margin-top: 48px;
  }
}
.p-index-access__inner__title {
  text-align: center;
}
.p-index-access__inner__title__sub {
  margin-top: 13px;
  font-size: 12px;
}
.p-index-access__inner__img {
  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
@media (min-width: 375px) {
  .p-index-access__inner__img {
    width: 200px;
  }
}
@media (min-width: 1100px) {
  .p-index-access__inner__img {
    width: 343px;
  }
}
@media (min-width: 375px) {
  .p-index-access__inner__img {
    height: 200px;
  }
}
@media (min-width: 1100px) {
  .p-index-access__inner__img {
    height: 343px;
  }
}
.p-index-access__inner__desc {
  text-align: center;
}
@media (min-width: 375px) {
  .p-index-access__inner__desc {
    margin-top: 16px;
  }
}
@media (min-width: 1100px) {
  .p-index-access__inner__desc {
    margin-top: 19px;
  }
}
.p-index-access__inner__desc__address {
  font-size: 14px;
}
@media (min-width: 375px) {
  .p-index-access__inner__desc__address {
    line-height: 22px;
  }
}
@media (min-width: 1100px) {
  .p-index-access__inner__desc__address {
    line-height: 24.5px;
  }
}
@media (min-width: 375px) {
  .p-index-access__inner__desc__contact {
    margin-top: 21px;
  }
}
@media (min-width: 1100px) {
  .p-index-access__inner__desc__contact {
    margin-top: 19px;
  }
}
.p-index-access__inner__desc__contact a {
  font-size: 14px;
  color: #5dc1cf;
}
.p-index-access__inner__desc__tel {
  margin-top: 19px;
  line-height: 17px;
}
.p-index-access__inner__desc__tel__main {
  font-size: 14px;
}
.p-index-access__inner__desc__tel__main__icon {
  margin-right: 4px;
}
.p-index-access__inner__desc__tel__time {
  font-size: 11px;
}
.p-index-access__inner__desc__sns {
  margin-top: 9px;
}
.p-index-access__inner__desc__sns__icon {
  font-size: 23px;
}

@media (min-width: 375px) {
  .p-index-underNav {
    margin-top: 42px;
  }
}
@media (min-width: 1100px) {
  .p-index-underNav {
    margin-top: 50px;
  }
}
@media (min-width: 375px) {
  .p-index-underNav {
    margin-bottom: 41px;
  }
}
@media (min-width: 1100px) {
  .p-index-underNav {
    margin-bottom: 61px;
  }
}
.p-index-underNav__inner__nav {
  text-align: center;
  font-size: 14px;
  line-height: 24.5px;
}

.u-display-none {
  display: none;
}

@media (min-width: 1100px) {
  .u-display-none-pc {
    display: none;
  }
}

.u-mt5 {
  margin-top: 5px;
}

.u-color-pink {
  color: #cc5777;
}

.u-color-gray {
  color: #707070;
}/*# sourceMappingURL=style.css.map */