@use "../../foundation/color" as color;
@use "../../foundation/mixin" as mixin;

.u-display-none {
    display: none;
}

.u-display-none-pc {
    @include mixin.mq(pc) {
        display: none;
    }
}

.u-mt5 {
    margin-top: 5px;
}

.u-color-pink {
    color: color.$c-accent-pink;
}

.u-color-gray {
    color: #707070;
}
