@use "../foundation/variable" as var;
@use "../foundation/color" as color;
@use "../foundation/mixin" as mixin;

.l-footer {
    width: 100%;
    height: 50px;
    background-color: color.$bg-footer;
    &__inner {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    &__inner__copyright {
        color: color.$c-secondary;
        font-size: 10px;
        line-height: 50px;
    }
}
